body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

#loading {
    text-align: center;
    font-size: 24px;
}

#container {
    text-align: center;
    margin-top: 50px;
}

#controls {
    margin-top: 20px;
}

#spinButton {
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-size: 24px;
}

.hidden {
    display: none;
}
